body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* Full-screen home container */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-image: url(Asset/bg5.jpg);
  color: #fff; /* White text */
  background-size: cover;
  background-position: center;
}



/* Info section styling */
.info-container {
  width: 80%;
  padding: 20px 20px 20px 100px;
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}



h1 {
  color: #ffffff;
  font-size: 5vh;
  text-shadow: 1px 1px rgb(65, 38, 9);
}

h3 {
  color: #ffffffe3;
  text-shadow: 1px 1px rgb(63, 48, 14);
  font-size: 3vh;

}




.icon-button i {
  color: #ffffff;
  border-radius: 2.6rem;
  cursor:pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center; 
  user-select: none;
  width: 2.6rem;
  margin-bottom: 10px;
}

.linkedin i,
.github i,
.twitter i,
.google i,
.resume i {
  background-color: #333;
}

/* Hover Transition  */
.twitter i:hover,   
.github i:hover,
.linkedin i:hover,
.google i:hover,
.resume i:hover {
  background-color: #000000 !important;
}


